<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>first</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Kosugi|Orbitron|Righteous|VT323" rel="stylesheet">
</head>
<body>
<h1>vsME!</h1>

<h2>目標を入力してください</h2>

<form action="{{ url_for('add_goal') }}" method="post">
    ID：<input type="text" name="userid"><br>
    <textarea type="text" name="goal" rows="10" cols="70"></textarea><br>
    <input type="submit" value="目標登録" class="submit">
    <input type="reset" value="リセット" class="submit">
</form>

</body>
</html>