<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>status</title>
</head>
<body>
<h1>行動記録</h1>
<form action="{{ url_for('add_detail_date') }}" method="post">
    ID: <input type="text" name="userid"><br>
    日付: <input type="text" name="date"><br>
    今日は何をしましたか？: <input type="text" name="behavior"><br>
    昨日の自分に...: win <input type="radio" name="winlose" value="win"> lose <input type="radio" name="winlose" value="lose"><br>
    <input type="submit">
</form>

</body>
</html>